body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url("jamilson.png");
    background-repeat: no-repeat;
    background-size: 100% 250%;
}

header {
    background-color: #004d99;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #e6e6e6;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #004d99;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cabecalho-container {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre a imagem e o texto */
}

#trulimero img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 100px;
}
